@import url("https://fonts.googleapis.com/css?family=Luckiest+Guy");


/* JUMP */
.topic {
font-family: Helvetica, cursive;
  position: absolute;
  margin: 40px 0px 0px 0px;
  display: block;
}

.topic span {
  position: relative;
  top: 20px;
  display: inline-block;
  /*-webkit-animation: bounce 0.3s ease infinite alternate;*/
  font-size: 80px;
  color: blue;
  text-shadow: 0 1px 0 #ccc, 0 2px 0 #ccc, 0 3px 0 #ccc, 0 4px 0 #ccc,
    0 5px 0 #ccc, 0 6px 0 transparent, 0 7px 0 transparent, 0 8px 0 transparent,
    0 9px 0 transparent, 0 10px 10px rgba(0, 0, 0, 0.4);
}
/*
.topic span:nth-child(2) {
  -webkit-animation-delay: 0.1s;
}
*/
/*

@-webkit-keyframes bounce {
  100% {
    top: -20px;
    text-shadow: 0 1px 0 #ccc, 0 2px 0 #ccc, 0 3px 0 #ccc, 0 4px 0 #ccc,
      0 5px 0 #ccc, 0 6px 0 #ccc, 0 7px 0 #ccc, 0 8px 0 #ccc, 0 9px 0 #ccc,
      0 50px 25px rgba(0, 0, 0, 0.2);
  }
}*/
